.body{
    background-color: red;
}
.media{
    text-align: center;
    position: absolute;
    left: 500px;
}
.laptop_large{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 650px;
    display: none;
}
.laptop{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 650px;
    display: none;
}
.tablet{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 650px;
    display: none;
}
.mobile{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 650px;
}